<app-header></app-header>

<div class="row"[style.background-color]="background">
  
  <!-- La version avec l'animation du button 
  <h1 [style.text-align]="textAlign" *ngIf="buttonState">{{ header }}</h1>
  -->

    <!-- Le titre n'apparait jamais
  <div *ngIf="titre; then unTitre; else noTitre">
    <h2 [style.text-align]="textAlign">Ne parait jamais</h2>
  </div>

  <ng-template #unTitre>
    <h2 [style.text-align]="textAlign">{{ titre }}</h2>
  </ng-template>

  <ng-template #noTitre>
    <h2 [style.text-align]="textAlign">Il n'y as pas de titre</h2>
  </ng-template>
  -->
  
  <app-contacts></app-contacts>
 
</div>

<router-outlet></router-outlet>
